@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&display=swap');

/*Root*/
:root{
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    --Family: Space Mono ;
    --san: 'space mono';
     --Weights: 700;
     --font-size: 24px ;
     --font-size-mobile:30px;
     
}
html{
    box-sizing: border-box;
}
p{
    font-family: var(--Family);
}
/*Body*/

body{
    font-size: 24px ; /*form inputs */
    margin: 0;
    padding: 0;
    background-color:var(--Light-grayish-cyan) ;
    color: var(--Dark-grayish-cyan);
    font-family:var(--san)
} 


/* Logo*/
.logo{
    text-align: center;
    margin-top: 150px;
}

/*Logo end here*/

/*Grid*/

.grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background-color: var(--White);
    border-radius: 18px;
    padding: 10px 20px;
    gap: 1.3rem;
    margin-top: 15px;
}


/*Main*/
.bill-desplay{
    display: flex;
    flex-direction: column;
    margin: 10px ;

}
.doller-icon img{
    position: absolute;
    margin: 15px 0 0 20px;
  
}

.doller-icon form input{
    text-align: center;
    width: 95%;
    text-align: end;
    border: 5px solid var(--Very-light-grayish-cyan);
    background-color:var(--Very-light-grayish-cyan);
    border-radius: 4px;
    padding: 9px;
    min-width: 0;
    font-family: var(--san);
    font-size: 20px;
    color:  var(--Very-dark-cyan);
    z-index: 0;

}
/*Buttons*/
.tip{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.tip button{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--Very-dark-cyan);
    background-color: var(--Very-dark-cyan);
    color: var(--White);
    font-family: var(--san);
    font-size: var(--font-size);
    cursor: pointer;
}
.tip button:hover{
    background-color: var(--Strong-cyan);
    border-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
}

.Custom{
    background-color: var(--Strong-cyan);
    border-color: var(--Strong-cyan);
    color: var(--very-dark-cyan);
}

.tip input{
    border-radius: 6px;
    border: 1px solid var(--Very-dark-cyan);
    color:var(--Very-dark-cyan);
    border-color: var(--very-light-grayish-cyan);
    cursor: pointer;
    font-family: var(--sans);
    text-align: end;
    font-size: var(--font-size);
    min-width: 0;
    width: 100%;
    height: 100%;
    padding: 0px;     
}


input:focus{
    border: 3px sold var(--Strong-cyan) !important ;
    outline: none;
}
/* people */
.people{
    margin-top: 10px;
}


.people-icon img{
    position: absolute;
    margin: 25px 0 0 10px;
}

.people-icon form input{
    text-align: center;
    width: 95%;
    text-align: end;
    border: 2px solid var(--very-light-grayish-cyan);
    background-color: var(--very-light-grayish-cyan);
    border-radius: 4px;
    padding: 9px;
    min-width: 0;
    font-family: var(--san);
    font-size: 20px;
    color: var(--Very-dark-cyan);

}

/*Make the text 'custom' disappear*/
.sr-only{
    border: 0;
     clip: rect(0 0 0 0); 
     height: 1px; 
     margin: -1px; 
     overflow: hidden;
     padding: 0;
     position: absolute; width: 1px;
    visibility: hidden;
}
.error{
    border: 0;
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden;
    padding: 0;
    position: absolute; width: 0px;
   visibility: hidden;
}
/* Total box */
.total-box{
    display: grid;
    grid-template-columns: 1fr ;
    flex-direction: column;
    background-color: var(--Very-dark-cyan);
    border-radius: 15px;
    color: var(--White);
}

.tip-amount{
    color: var(--White);

}

.Contanter-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 5px 20px;
}

.Contanter-total ul{
    list-style: none;
    padding: 0;
}

.Contanter-total ul li:last-child{
    color: var(--Grayish-cyan);
}
.Contanter-total span{
    color: var(--Strong-cyan);
    font-size: 40px;
}


/*Submit button*/

 .submit-button button{
    margin: 10px;
    padding: 5px;
    height: 50%;
    width: 96%;
    border: 1px solid var(--Strong-cyan);
    background-color: var(--Strong-cyan);
    border-radius: 5px;
    font-size: var(--san);
    font-size: 18px;
    cursor: pointer;
    color: var(--Very-dark-cyan);
   
}
.submit-button button:hover{
    background-color: var(--Light-grayish-cyan);
    border-color: var(--Light-grayish-cyan);
}
.submit-button .reset{
    align-items: center;
}


footer{
    margin-top: 200px;
}
footer p{
    text-align: center;
}

/*media query*/
@media screen and ( max-width: 550px){
    .grid-wrapper{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        background-color: var(--White);
        border-radius: 18px;
        padding: 10px 20px;
        gap: 1.3rem;
        margin-top: 15px;
    }
    
    
    /*Main*/
    .bill-desplay{
        display: flex;
        flex-direction: column;
        margin: 10px ;
    
    }
    .doller-icon img{
        position: absolute;
        margin: 15px 0 0 20px;
      
    }
    
    .doller-icon form input{
        text-align: center;
        width: 95%;
        text-align: end;
        border: 5px solid var(--Very-light-grayish-cyan);
        background-color:var(--Very-light-grayish-cyan);
        border-radius: 4px;
        padding: 9px;
        min-width: 0;
        font-family: var(--san);
        font-size: var(--font-size-mobile);
        color:  var(--Very-dark-cyan);
        z-index: 0;
    
    }
    /*Buttons*/
    .tip{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 1rem;
    }
    
    .tip button{
        padding: 5px;
        border-radius: 5px;
        border: 1px solid var(--Very-dark-cyan);
        background-color: var(--Very-dark-cyan);
        color: var(--White);
        font-family: var(--san);
        font-size: var(--font-size-mobile);
        cursor: pointer;
    }
    .tip button:hover{
        background-color: var(--Strong-cyan);
        border-color: var(--Strong-cyan);
        color: var(--Very-dark-cyan);
    }
    
    #Custom{
        background-color: var(--Strong-cyan);
        border-color: var(--Strong-cyan);
        color: var(--very-dark-cyan);
    }
    
    .tip input{
        border-radius: 6px;
        border: 1px solid var(--Very-dark-cyan);
        color:var(--Very-dark-cyan);
        border-color: var(--very-light-grayish-cyan);
        cursor: pointer;
        font-family: var(--sans);
        text-align: end;
        font-size: var(--font-size-mobile);
        min-width: 0;
        width: 100%;
        height: 100%;
        padding: 0px;     
    }
    
    
    input:focus{
        border: 3px sold var(--Strong-cyan) !important ;
        outline: none;
    }
    /* people */
    .people{
        margin-top: 10px;
    }
    
    
    .people-icon img{
        position: absolute;
        margin: 15px 0 0 10px;
    }
    
    .people-icon form input{
        text-align: center;
        width: 95%;
        text-align: end;
        border: 2px solid var(--Very-light-grayish-cyan);
        background-color: var(--Very-light-grayish-cyan);
        border-radius: 4px;
        padding: 9px;
        min-width: 0;
        font-family: var(--san);
        font-size: var(--font-size-mobile);
        color: var(--Very-dark-cyan);
    
    }
    
  /*Make the text 'custom' disappear for mobile version*/
    .sr-only{
        border: 0;
         clip: rect(0 0 0 0); 
         height: 1px; 
         margin: -1px; 
         overflow: hidden;
         padding: 0;
         position: absolute; width: 1px;
         visibility: hidden;
    }
    /* Total box */
    .total-box{
        display: grid;
        grid-template-columns: 1fr ;
        flex-direction: column;
        background-color: var(--Very-dark-cyan);
        border-radius: 15px;
        color: var(--White);
    }
    
    .tip-amount{
        color: var(--White);
    
    }
    
    .Contanter-total{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px 5px 20px;
    }
    
    .Contanter-total ul{
        list-style: none;
        padding: 0;
    }
    
    .Contanter-total ul li:last-child{
        color: var(--Grayish-cyan);
    }
    .Contanter-total span{
        color: var(--Strong-cyan);
        font-size: 40px;
    }
    
    /*Submit button*/
    
     .submit-button button{
        margin: 10px;
        padding: 5px;
        height: 60%;
        width: 96%;
        border: 1px solid var(--Strong-cyan);
        background-color: var(--Strong-cyan);
        border-radius: 5px;
        font-size: var(--san);
        font-size: var(--font-size-mobile);
        cursor: pointer;
        color: var(--Very-dark-cyan);
       
    }
    .submit-button button:hover{
        background-color: var(--Light-grayish-cyan);
        border-color: var(--Light-grayish-cyan);
    }
    .submit-button .reset{
        align-items: center;
    }

    
footer{
    margin-top: 200px;
}
footer p{
    text-align: center;
}
    
    
}
